.VehiclesBody {
    background: #193041;
    margin-top: -17px;

  }
  .indicator {
    color: green;
  }
  .bikecard {
    box-shadow: 0 4px 8px 0 rgba(22, 22, 22, 0.2),
      0 6px 20px 0 rgba(3, 3, 3, 0.19);
      margin-top:1px;
  }
  .bikecard:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 254, 254, 0.2),
      0 6px 20px 0 rgba(255, 255, 255, 0.19);
  }
  img {
    background: transparent;
  }
  .bikeTitle{
    border: 2px solid rgb(75, 68, 68);
    width:100%;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: blanchedalmond;
    text-align: none !important;
    color: aqua;
    padding: 500px;
  }
  a:hover{
    text-decoration: none !important;
  }
  .VehInf{
      width: 100%;
      text-align: center;
      color: #ffffff;
      margin-top: 5px;
  }
  .availability{
    color: rgb(151, 219, 151);
  }
